<html>
<body>
    <h3>Предсказания модуля упругости при растяжении</h3>
 
<div>
  <form action="/result" method="POST">
  
    <label for="status">'Соотношение матрица-наполнитель'</label>
    <input type="text" id="matrix" name="matrix">btw:[0.38-5.59]
    <br>
    <label for="status1">'Плотность, кг/м3'</label>
    <input type="text" id="matrix1" name="matrix1">btw:[1731.76-2207.77]
    <br>
    <label for="status2">'модуль упругости, ГПа'</label>
    <input type="text" id="matrix2" name="matrix2">btw:[1731.76-2207.77]
    <br>
    <label for="status3">'Количество отвердителя, м.%'</label>
    <input type="text" id="matrix3" name="matrix3">btw:[0.38-5.59]
    <br>
    <label for="status4">'Содержание эпоксидных групп,%_2'</label>
    <input type="text" id="matrix4" name="matrix4">btw:[1731.76-2207.77]
    <br>
    <label for="status5">'Температура вспышки, С_2'</label>
    <input type="text" id="matrix5" name="matrix5">btw:[1731.76-2207.77]
    <br>
    <label for="status6">'Поверхностная плотность, г/м2'</label>
    <input type="text" id="matrix6" name="matrix6">btw:[0.38-5.59]
    <br>
    <label for="status7">'Прочность при растяжении, МПа'</label>
    <input type="text" id="matrix7" name="matrix7">btw:[1731.76-2207.77]
    <br>
    <label for="status8">'Потребление смолы, г/м2'</label>
    <input type="text" id="matrix8" name="matrix8">btw:[1731.76-2207.77]
    <br>
    <label for="status9">'Угол нашивки, град'</label>
    <input type="text" id="matrix9" name="matrix9">btw:[0.38-5.59]
    <br>
    <label for="status10">'Шаг нашивки'</label>
    <input type="text" id="matrix10" name="matrix10">btw:[1731.76-2207.77]
    <br>
    <label for="status11">'Плотность нашивки'</label>
    <input type="text" id="matrix11" name="matrix11">btw:[1731.76-2207.77]
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>